{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets": {
                    "browsers": [">0.25%", "not ie 11", "not op_mini all"]
                }
            }
        ]
    ],
    "plugins": ["@babel/plugin-syntax-object-rest-spread", "babel-plugin-transform-vue-jsx"],
    "env": {
        "test": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "targets": {
                            "node": "current"
                        }
                    }
                ]
            ]
        }
    }
}
